*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 25px;
    font-family: arial;
    background-color: #A9A9A9;
}
/*Encabezado*/
header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 30px;
    border-bottom-style: solid;
    border-bottom-color: rgb(23, 33, 65);
    border-bottom-width: 8px;
}
#encabezado{
    width: 80%;
    height: 30px;
    margin: auto;
}
/*Logotipo*/
#logotipo{
    width: 30%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-top: 27px;
    font-size: 40px;
}
/*Barra de navegación*/
#barra-navegacion{
    width: 60%;
    height: 30px;
    float: right;
    margin-top: 33px;
}
#barra-navegacion ul{
    margin-left: 20%;
}
#barra-navegacion ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}
#barra-navegacion ul li a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
    font-size: 1.4em;
    border-radius: 7px 7px 0px 0px;
}
#barra-navegacion ul li a:hover{
    background-color: rgb(23, 33, 65);
    color: white;
}
/*Foto y título de presentación*/
#seccion-principal #sec-1{
    width: 100%;
}
#seccion-principal #sec-1 article{
    margin: 30px 30%;
}
#seccion-principal #sec-1 article h1{
    margin-bottom: 15px;
    background-color: #87CEFA;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
    width: 550px;
    border: 1px solid white;
    font-family: calisto MT;
}
#seccion-principal #sec-1 article img{
    width: 550px;
    box-shadow: 0px 0px 30px;
}
/*Información de mi credo*/
#sec-2, #sec-3{
    border: 2px solid;
    height: 200px;
    width: 50%;
    display: inline-block;
}