@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Orienta', sans-serif;
}
body{
    font-size: 24px;
    font-family: arial;
    background-color: #A9A9A9;
}
/*Encabezado*/
header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 30px;
    border-bottom-style: solid;
    border-bottom-color: rgb(23, 33, 65);
    border-bottom-width: 8px;
}
#encabezado{
    width: 80%;
    height: 30px;
    margin: auto;
}
/*Logotipo*/
#logotipo{
    width: 30%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-top: 27px;
    font-size: 40px;
    color: white;
    box-shadow: 0px 0px 59px;
    border-radius: 20px;
    text-align: center;
}
/*Barra de navegación*/
#barra-navegacion{
    height: 50px;
}
#barra-navegacion ul{
    float: right;
    margin-right: -1em;
    margin-top: 2.2em;
    width: 444px;
}
#barra-navegacion ul ul{
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
}
#barra-navegacion ul ul li{
    display: list-item;
    position: relative;
    border: 1px solid rgb(83, 101, 163);
    margin-top: 1px;
}
#barra-navegacion ul li{
    display: inline-block;
}
#barra-navegacion ul li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}
#barra-navegacion ul li a{
    color: bisque;
    text-decoration: none;
    display: block;
    background:rgb(23, 33, 65);
    border-radius: 6px;
    padding: 0px 15px;
    line-height: 50px;
    font-size: 33px;
    font-size: 30px;
    transition: .4s;
}
#barra-navegacion ul li a:hover{
    color: brown;
}
/*Foto y título de presentación*/
#seccion-principal #sec-1{
    width: 100%;
}
#seccion-principal #sec-1 article{
    margin: 30px 30%;
}
#seccion-principal #sec-1 article h1{
    margin-bottom: 15px;
    background-color: #87CEFA;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
    width: 550px;
    border: 1px solid white;
    font-family: calisto MT;
}
#seccion-principal #sec-1 article img{
    width: 550px;
    box-shadow: 0px 0px 30px;
}
/*Imagen del credo*/
#sec-2, #sec-3{
    border: 2px solid;
    height: 200px;
    width: 50%;
    display: inline-block;
}

/*Información de mi credo*/
#contenedor{
    width: 80%;
    margin: auto;
    margin-bottom:4%;
    height: auto;
    box-shadow: 0px 0px 10px 1px white;
}
#contenedor div h1{
    margin: auto;
}
#contenedor section p{
    font-size: 25px;
    margin: 60px;
}
.titulo{
    margin-bottom: 15px;
    background-color: #EDC378;
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
    width: 550px;
    border: 1px solid white;
    font-family: Calibri;
    box-shadow: 0px 0px 20px;
}
p{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}
#contenedor article div img{
    width: 100%;
}
/*Las imagenes usadas*/
#contenedor section div{
    width: 50%;
    margin: auto;
}
#contenedor section .img{
    margin: 0px;
    width: 100%;
    height: 12.8em;
    display: inline-block;

}
#contenedor section div #uno{
    width: 100%;
    height: auto;
}

#contenedor section div #dos{
    width: 45%;
    height: auto;
    float: left;
    margin: 2%;
}
#contenedor section div #tres{
    width: 45%;
    height: 100%;
    float: right;
    margin: 2%;
}
#contenedor section #cuatro{
    width: auto;
    margin: 2%;
    float: right;
}
#contenedor section .img-dos{
    width: auto;
    height: 320px;
    display: inline-block;
    float: left;
    margin: 2%;
}
#contenedor section div #cinco{
    width: 500px;
    height: 320px;
}
#contenedor section div #seis{
    width: 50%;
    height: 100%;
    float: right;
}
#contenedor section #siete{
    width: 50%;
    margin: 20px auto;
}
#contenedor section #siete img{
    width: 100%;
}
#contenedor #ocho{
    width: 40%;
    height: 200px;
    margin-left: 10%;
}
/*Parte uno de las creencias*/
.creencias{
    width: 100%;
    padding: 2%;
    height: 415px;
    display: inline-block;
    box-sizing: border-box;
}
.creencias:hover{
    background-color: black;
    transition: .5s linear;
}
.creencias:hover > #uno{
    box-shadow: 0px 0px 50px turquoise;
    transition: .5s linear;
}
.creencias #uno{
    width: 9%;
    height: auto;
    border-radius: 10px;
    
    padding: 5px;
    margin-top: 133px;
    transform: rotate(-90deg);
    text-align: center;
    float: left;
    color: white;
}
.creencias #dos{
    width: 89%;
    background-color: rgb(58, 73, 80);
    border: 1px solid rgb(219, 219, 179);
    height: 100%;
    float: right;
    box-shadow: 0px 0px 59px rgb(161, 140, 101);
}
.creencias #dos h1{
    text-align: center;
}
.creencias #dos:hover > h1{
    text-decoration: underline;
    color: wheat;
}

/*Parte tres*/
#contenedor section h2{
    text-align: center;
    color: wheat;
}
#contenedor section h3{
    color: wheat;
    margin-left: 40px;
}
#contenedor section nav{
    width: 32%;
    margin-left: 10%;
    background: rgb(128, 125, 106);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 20px wheat;
}
#contenedor section nav ul li{
    list-style: decimal-leading-zero;
    color: white;
}

/*Parte cuatro*/
#contenedor section .cap-cuatro-subtitulo{
    border: 1px solid;
    margin-top: 7%;
    margin-bottom: 2%;
    color: cadetblue;
    background-color: cadetblue;
}
#contenedor .cap-cuatro-subtitulo h3{
    text-align: center;
    color: white;
}
#contenedor .listas{
    width: 80%;
    display: inline-block;
    margin-left: 9%;
}
#contenedor .listas nav{
    padding: 7px;
    width: 100%;
    margin: auto;
}
#contenedor .listas nav ul{
    margin-left: 5%;
}
#contenedor .listas nav ul:hover > li{
    text-decoration: underline white;
}

/*Parte seis*/
#contenedor .datos-familia{
    padding: 2%;
}
#contenedor section #parrafo{
    width: 60%;
    float: left;
}
#contenedor section #img img{
    width: 40%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 5px rgb(160, 95, 95);
}
#contenedor .datos-familia:hover{
    background-color: rgb(43, 142, 184);
}
#contenedor section #once img:hover{
    box-shadow: 0px 0px 30px 5px rgb(218, 194, 90);
}

/*Parte siete y final del credo*/
#contenedor #doce{
    width: 30%;
    margin: auto;
    box-shadow: 0px 99px 40px 10px wheat;
}

@media(max-width)