*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    font-size: 25px;
    font-family: arial;
    background-color: #A9A9A9;
}
/*Encabezado*/
header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 30px;
    border-bottom-style: solid;
    border-bottom-color: rgb(23, 33, 65);
    border-bottom-width: 8px;
}
#encabezado{
    width: 80%;
    height: 30px;
    margin: auto;
}
/*Logotipo*/
#logotipo{
    width: 30%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-top: 27px;
    font-size: 40px;
    color: white;
    box-shadow: 0px 0px 59px;
    border-radius: 20px;
    text-align: center;
}
/*Barra de navegación*/
#barra-navegacion{
    height: 50px;
}
#barra-navegacion ul{
    float: right;
    margin-right: -1em;
    margin-top: 2.2em;
    width: 430px;
}
#barra-navegacion ul ul{
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
}
#barra-navegacion ul ul li{
    display: list-item;
    position: relative;
    border: 1px solid rgb(83, 101, 163);
    margin-top: 1px;
}
#barra-navegacion ul li{
    display: inline-block;
}
#barra-navegacion ul li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}
#barra-navegacion ul li a{
    color: bisque;
    text-decoration: none;
    display: block;
    background:rgb(23, 33, 65);
    border-radius: 6px;
    padding: 0px 15px;
    line-height: 50px;
    font-size: 33px;
    font-size: 30px;
    transition: .4s;
}
#barra-navegacion ul li a:hover{
    color: brown;
}
/*Foto y título de presentación*/
#seccion-principal #sec-1{
    width: 100%;
}
#seccion-principal #sec-1 article{
    margin: 30px 30%;
}
#seccion-principal #sec-1 article h1{
    margin-bottom: 15px;
    background-color: #87CEFA;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
    width: 550px;
    border: 1px solid white;
    font-family: calisto MT;
}
#seccion-principal #sec-1 article img{
    width: 550px;
    box-shadow: 0px 0px 30px;
}
/*Información de mi credo*/
#sec-2, #sec-3{
    border: 2px solid;
    height: 200px;
    width: 50%;
    display: inline-block;
}